
.container{
    padding-top: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.pannel{
    border: 2px;
    height: 300px;
}

.pannel-heading{
    background-color: blueviolet;
    height:32px;
    
}

.pannel-footer{
    background-color: rgb(237, 233, 241);
    height: 28px;
    
}
.header{
    font-size: 25px;
    margin-left: 7px;
    padding:4px;
    color: blanchedalmond;
}

.row-style{
    margin-top: 10px;
}

.text-warning{
    margin-top: 7px;
color: #f00500;
}

.p-f{
    font-size: 15px;
    margin-left: 7px;
    padding:8px;
}
